* {
  margin: 0;
  padding: 0;
}
#backgound {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(10147_7dd582f1dc8efaedf367ba83423c15a7.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#frame {
  width: 60%;
  height: 60%;
  background-image: radial-gradient(circle, #fff, #ccc, #999);
  border-radius: 10px;
}
#frame-top {
  width: 100%;
  height: 33%;
  border-radius: 10px;
}
#name {
  display: flex;
  justify-content: center;
}
#score {
  display: flex;
  justify-content: center;
  align-items: center;
}
#time {
  display: flex;
  justify-content: center;
  align-items: center;
}
#frame-center {
  width: 100%;
  height: 33%;

  display: flex;
  justify-content: center;
}
#word {
  width: auto;
  height: 30%;
  background-image: radial-gradient(circle, #fff, #ccc, #999);
  font-size: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#frame-bot {
  width: 100%;
  height: 33%;

  border-radius: 10px;
  display: flex;
  justify-content: center;
}
#ipWord {
  width: 250px;
  height: 30px;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#btStart {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#btReset {
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
